Repository AlexWayfer/psql_toys: changes, and which Cirrus tasks are due for each by the changed paths.
All: remark, rubocop, rspec

.cirrus.yaml:

bundle_cache: &bundle_cache
  bundle_cache:
    folder: /usr/local/bundle
    fingerprint_script:
      - echo $CIRRUS_OS
      - ruby -v
      - cat Gemfile
      - cat *.gemspec
  install_script:
    - gem install bundler
    - bundle update

remark_task:
  container:
    image: node
  node_modules_cache:
    folder: node_modules
    fingerprint_script:
      - echo $CIRRUS_OS
      - node -v
      - cat package.json
  install_script: npm install
  lint_script: npm run remark
  only_if: ($CIRRUS_BRANCH == 'master') ||
    changesInclude(
      '.cirrus.yaml', '.gitignore', 'package.json', '.remarkrc.yaml', '**.md'
    )

rubocop_task:
  container:
    ## https://github.com/codecov/codecov-ruby/pull/124
    image: ruby:2.7
  <<: *bundle_cache
  lint_script: bundle exec rubocop
  only_if: ($CIRRUS_BRANCH == 'master') ||
    changesInclude(
      '.cirrus.yaml', '.gitignore', 'Gemfile', 'Rakefile', '.rubocop.yml', '*.gemspec',
      '**.rb', '**.ru'
    )

rspec_task:
  depends_on:
    - remark
    - rubocop
  container:
    matrix:
      image: ruby:2.5
      image: ruby:2.6
      image: ruby:2.7
  <<: *bundle_cache
  environment:
    CODECOV_TOKEN: ENCRYPTED[f19b301fc555d279506af9fbf9a59f735efa78480737ad12b0c9d1d13e5444d077d6738aed958f4cdf169ccd4caede3f]
  test_script: bundle exec rspec
  only_if: ($CIRRUS_BRANCH == 'master') ||
    changesInclude(
      '.cirrus.yaml', '.gitignore', 'Gemfile', 'Rakefile', '.rspec', '*.gemspec', 'lib/**',
      'spec/**'
    )

Allow Ruby 3 in gem specs
  psql_toys.gemspec
Due: rubocop, rspec

Add Ruby 3.0 for CI
  .cirrus.yaml
Due: remark, rubocop, rspec

Run RuboCop CI task on Ruby 2.7 instead of latest
  .cirrus.yaml
Due: remark, rubocop, rspec

Revert "Run RuboCop CI task on Ruby 2.7 instead of latest"
  .cirrus.yaml
Due: remark, rubocop, rspec

Update metadata in gemspec
  psql_toys.gemspec
Due: rubocop, rspec

Avoid Ruby 4 in gem specs
  psql_toys.gemspec
Due: rubocop, rspec

Remove `Rakefile` from Cirrus CI configuration
  .cirrus.yaml
Due: remark, rubocop, rspec

Add `bundle-audit` CI task
  .cirrus.yaml
  psql_toys.gemspec
Due: remark, rubocop, rspec

Update version to 0.4.0
  CHANGELOG.md
  lib/psql_toys/version.rb
Due: remark, rubocop, rspec

Update `remark-gfm` to a new major version
  package.json
Due: remark

Lock RuboCop version better
  psql_toys.gemspec
Due: rubocop, rspec

Update `toys` with `toys-core`
  psql_toys.gemspec
Due: rubocop, rspec

Resolve new offenses from RuboCop
  lib/psql_toys/template/dumps/_dump_file.rb
Due: rubocop, rspec

Resolve new warnings from RuboCop
  .rubocop.yml
Due: rubocop

Update development dependencies
  psql_toys.gemspec
Due: rubocop, rspec

Update version to 0.4.2
  CHANGELOG.md
  lib/psql_toys/version.rb
Due: remark, rubocop, rspec

Resolve new RuboCop offense
  lib/psql_toys/template/dumps/_dump_file.rb
Due: rubocop, rspec

Update version to 0.4.1
  CHANGELOG.md
  lib/psql_toys/version.rb
Due: remark, rubocop, rspec

Change unreleased header in CHANGELOG
  CHANGELOG.md
Due: remark

Update version to 0.4.3
  CHANGELOG.md
  lib/psql_toys/version.rb
Due: remark, rubocop, rspec

Rename `master` git branch to `main`
  .cirrus.yaml
  README.md
Due: remark, rubocop, rspec

Enable `rubygems_mfa_required`
  psql_toys.gemspec
Due: rubocop, rspec

Drop Ruby 2.5 support
  .cirrus.yaml
  .rubocop.yml
  psql_toys.gemspec
Due: remark, rubocop, rspec

Add Ruby 3.1 for CI
  .cirrus.yaml
Due: remark, rubocop, rspec

Suppress Bundle warnings in CI
  .cirrus.yaml
Due: remark, rubocop, rspec

Update `toys` and `toys-core`
  psql_toys.gemspec
Due: rubocop, rspec

Resolve new RuboCop offense
  .rubocop.yml
  lib/psql_toys/template/dumps/create.rb
  lib/psql_toys/template/dumps/restore.rb
Due: rubocop, rspec

Update RuboCop and resolve deprecation warning
  .rubocop.yml
  psql_toys.gemspec
Due: rubocop, rspec

Update version to 0.5.0
  CHANGELOG.md
  lib/psql_toys/version.rb
Due: remark, rubocop, rspec

Remove dependencies of CI tasks because of different `only_if`
  .cirrus.yaml
Due: remark, rubocop, rspec
