Repository AlexWayfer/psql_toys: changes, and which Cirrus tasks are due for each by the changed paths.
All: remark, bundle-audit, rubocop, rspec

.cirrus.yaml:

bundle_cache: &bundle_cache
  bundle_cache:
    folder: /usr/local/bundle
    fingerprint_script:
      - echo $CIRRUS_OS
      - ruby -v
      - cat Gemfile
      - cat *.gemspec
  install_script:
    - gem install bundler
    - bundle update

remark_task:
  container:
    image: node
  node_modules_cache:
    folder: node_modules
    fingerprint_script:
      - echo $CIRRUS_OS
      - node -v
      - cat package.json
  install_script: npm install
  lint_script: npm run remark
  only_if: ($CIRRUS_BRANCH == 'master') ||
    changesInclude(
      '.cirrus.yaml', '.gitignore', 'package.json', '.remarkrc.yaml', '**.md'
    )

bundle-audit_task:
  container:
    image: ruby
  <<: *bundle_cache
  bundle-audit_script: bundle audit check --update
  only_if: ($CIRRUS_BRANCH == 'master') ||
    changesInclude(
      '.cirrus.yaml', '.gitignore', 'Gemfile', '*.gemspec'
    )

rubocop_task:
  container:
    image: ruby:latest
  <<: *bundle_cache
  lint_script: bundle exec rubocop
  only_if: ($CIRRUS_BRANCH == 'master') ||
    changesInclude(
      '.cirrus.yaml', '.gitignore', 'Gemfile', '.rubocop.yml', '*.gemspec',
      '**.rb', '**.ru'
    )

rspec_task:
  depends_on:
    - remark
    - bundle-audit
    - rubocop
  container:
    matrix:
      image: ruby:2.5
      image: ruby:2.6
      image: ruby:2.7
      image: ruby:3.0
  <<: *bundle_cache
  environment:
    CODECOV_TOKEN: ENCRYPTED[f19b301fc555d279506af9fbf9a59f735efa78480737ad12b0c9d1d13e5444d077d6738aed958f4cdf169ccd4caede3f]
  test_script: bundle exec rspec
  only_if: ($CIRRUS_BRANCH == 'master') ||
    changesInclude(
      '.cirrus.yaml', '.gitignore', 'Gemfile', '.rspec', '*.gemspec', 'lib/**',
      'spec/**'
    )

Replace `codecov` Ruby uploader with shell one
  .cirrus.yaml
  psql_toys.gemspec
  spec/spec_helper.rb
Due: remark, bundle-audit, rubocop, rspec

Lock `rubocop-rspec` version stricter
  psql_toys.gemspec
Due: bundle-audit, rubocop, rspec

Allow `gorilla_patch` version 5
  psql_toys.gemspec
Due: bundle-audit, rubocop, rspec

Update version to 0.5.1
  CHANGELOG.md
  lib/psql_toys/version.rb
Due: remark, rubocop, rspec

Update `toys-core`
  psql_toys.gemspec
Due: bundle-audit, rubocop, rspec

Update License and Gem badges
  README.md
Due: remark

Update version to 0.6.0
  CHANGELOG.md
  lib/psql_toys/version.rb
Due: remark, rubocop, rspec

Add Ruby 3.2 to CI
  .cirrus.yaml
Due: remark, bundle-audit, rubocop, rspec

Drop Ruby 2.6 support
  .cirrus.yaml
  .rubocop.yml
  psql_toys.gemspec
Due: remark, bundle-audit, rubocop, rspec

Move development dependencies from gemspec into Gemfile
  Gemfile
  psql_toys.gemspec
Due: bundle-audit, rubocop, rspec

Resolve new RuboCop offense
  lib/psql_toys/template/dumps/_dump_file.rb
Due: rubocop, rspec

Add `create_user` toy
  lib/psql_toys/template.rb
  lib/psql_toys/template/create_user.rb
Due: rubocop, rspec

Update version to 0.7.0
  CHANGELOG.md
  lib/psql_toys/version.rb
Due: remark, rubocop, rspec

Update all toys dependencies
  Gemfile
  psql_toys.gemspec
Due: bundle-audit, rubocop, rspec

Update version to 0.8.0
  CHANGELOG.md
  lib/psql_toys/version.rb
Due: remark, rubocop, rspec

Drop Ruby 2.7 support
  .cirrus.yaml
  .rubocop.yml
  psql_toys.gemspec
Due: remark, bundle-audit, rubocop, rspec

Add Ruby 3.3 for CI
  .cirrus.yaml
Due: remark, bundle-audit, rubocop, rspec

Configure Renovate
  renovate.json
Due: none

Add Ruby 3.4 for CI
  .cirrus.yaml
Due: remark, bundle-audit, rubocop, rspec

Update runtime dependency `toys-core`
  psql_toys.gemspec
Due: bundle-audit, rubocop, rspec

Resolve RuboCop warning about `plugins:` instead of `require:`
  .rubocop.yml
Due: rubocop

Resolve new RuboCop offenses about `spec.add_runtime_dependency`
  psql_toys.gemspec
Due: bundle-audit, rubocop, rspec

Drop Ruby 3.0 and 3.1 support
  .cirrus.yaml
  .rubocop.yml
  psql_toys.gemspec
Due: remark, bundle-audit, rubocop, rspec

Add `.ruby-version` file to `.gitignore`
  .gitignore
Due: remark, bundle-audit, rubocop, rspec

Remove `bundler` as development dependency
  Gemfile
Due: bundle-audit, rubocop, rspec

Update `gem_toys` and `toys` dependencies
  Gemfile
Due: bundle-audit, rubocop, rspec

Update runtime dependencies
  psql_toys.gemspec
Due: bundle-audit, rubocop, rspec

Add Ruby 4.0 support
  .cirrus.yaml
  psql_toys.gemspec
Due: remark, bundle-audit, rubocop, rspec

Update version to 1.0.0
  CHANGELOG.md
  lib/psql_toys/version.rb
Due: remark, rubocop, rspec

Switch from Cirrus CI to GitHub Actions
  .cirrus.yaml
  .github/workflows/ci.yml
  README.md
Due: remark, bundle-audit, rubocop, rspec

Add Codecov token
  .github/workflows/ci.yml
Due: none

Lock `simplecov` on minor version
  Gemfile
Due: bundle-audit, rubocop, rspec
